//////////////////////////////////////////////////////////////////////////
// UNIVERSAL STYLING /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
body {
  font-family: "adelle", serif;
	font-size: 1em;
	line-height: 1.6;
	color: #666666;
	vertical-align: top;
	background-color: rgba(0,0,0,0.02);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova", sans-serif;
}

// BUTTON STYLING ////////////////////////////////////////////////////////
.button {
	font-family: "proxima-nova", sans-serif;
}

.button-group li {
	padding-top: 3%;
}

.button-group a {
	color: rgba(0,0,0,1);
	background-color: transparent;
}

.button-group a:hover {
	color: rgba(0,0,0,0.4);
	background-color: transparent;
}

.button-group {
	float: none;
}

@media only screen and (min-width: 40.063em) {.button-group {float:right;}}

//////////////////////////////////////////////////////////////////////////
// LOGO STYLING //////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.namelogo {
	padding: 20px 10px 0px 10px;
}

@media only screen and (min-width: 40.063em) {.namelogo {padding-bottom:20px;}}

.namelogo h1 {
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}

@media only screen and (min-width: 40.063em) {.namelogo h1{font-size:16px;text-align:left;}}

@media only screen and (min-width: 64.063em) {.namelogo h1{font-size:24px;text-align:left;}}

.about, .work {
	padding: 50px 0 0 0;
}

//////////////////////////////////////////////////////////////////////////
// LOGO STYLING //////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.work img:hover {
	opacity: 0.5;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.work li {
	height: 140px;
	overflow: hidden;
}
//////////////////////////////////////////////////////////////////////////
// ABOUT SECTION STYLING /////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.introtext {
	margin-bottom: 15px;
	max-width: 388px;
}

.herotext {
	font-family: "proxima-nova", sans-serif;
	line-height: 1.2;
	color: rgb(0, 145, 202);
	p { margin: 0 0 0 0; }
	margin-bottom: 15px;
}
//////////////////////////////////////////////////////////////////////////
// HORIZONTAL RULE STYLING ///////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
	opacity: 0.8;
}

//////////////////////////////////////////////////////////////////////////
// FOOTER STYLING ////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
footer {
	padding: 80px 0 10px 0;
}

footer a:hover {
	color: rgba(0,0,0,0.4);
	background-color: transparent;
}

